body {
  padding: 0;
    margin: 0;
    font-family: 'Mukta', sans-serif;
    background-image: url("../img/bgwood.jpg");
    background-size: cover;
  background-repeat: no-repeat;
    padding-bottom: 90px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    box-shadow: 1px 2px 15px #48484833;
    background-attachment: fixed;
}
/*.view_count{
    width: fit-content;
    max-width: 200px;
    text-align: center;
    font-size: 10px;
    padding: 2px 12px;
    background: black;
    color: white;
    border-radius: 3px;
    margin: 0 auto;
    top: 0px;
}*/
.text-bold{
  font-weight: 600;
}
  .share, .webshare {
    display: none;
  }
.bg {
  /* The image used */
  background-image: url("../img/background.jpg");
   /*Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.navbar {
  width: auto;
  text-align: left;
  display: flex;
  background: black;
  width: -webkit-fill-available;
  text-align: center;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow-x: auto;
  /*overflow: hidden;
  background-color: white;  
  position:fixed;
  bottom: 0;
  width: 100%;
  z-index: 1121;*/
}

.navbar a {
  float: left;
  display: block;
  color:#2c4a61;
  text-align: center;
  padding: 0px 80px;
  text-decoration: none;
  font-size: 17px;
}

.navbar .icon {
  display: none;
}
a.share.shadow-button i{
  margin-top: 1px;

}
@media screen and (max-width: 1024px) {
  .navbar a{
    padding: 16px 46px;
  }
}

@media screen and (max-width: 768px) {
  .navbar a{
    padding: 16px 30px;
  }
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
    margin-top: 10px;
  }
  .navbar a{
    padding: 16px 16px;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    bottom:0;

  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;

  }
}
/*----content-----*/
.content {
  background-image: url(../img/digital.png);
 background-size: cover;
  background-repeat: no-repeat;
  max-width: 350px;
  margin: auto;
  padding: 0px 0px 70px 0px;
  /*background: white;*/
 /* padding: 10px;*/
  margin-top: 20px;
  border: 8px solid #1f526a;
}
.card-content {
    margin: 18px 24px 10px;
    z-index: 2;
    text-align: center;
}

.card-content img {
    background-color: #fff;
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 100%;
    margin-top: 50px;
    margin-right: 10px;
    border: 3px solid #186668;
}
.card-content2 {
    z-index: 2;
    text-align: left;
    font-weight: 400;
    margin: 0;
    position: relative;
    width: auto;
    text-align: center;
}
.card-content2 h2 {
  color:#053887;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 22px;
  margin: 0 auto;
  padding-bottom: 15px;
  margin-top:0px;
}
.card-content2 p {
 /* margin: 6px;*/
  text-transform: capitalize;
  font-size: 13px;
  color:#053887;
  font-weight: 600;
}
.main1 {
    padding:0px;
    /*background: #fff;*/
    margin: 0px 27px;
    /*border-radius: 12px;
    box-shadow: 0px -12px 10px 0px #0000001a;*/
}
@media (max-width: 280px) and (min-width: 280px){
  .main1 {
    padding:0px!important;
  }
}
.b1{
  margin-top: -1px;
  /*margin-left: -10px;*/
}
.follow{
  text-align: center;
  padding: 5px;
  margin-top: 20px;
}
.follow h3{
  color: #053887;
  font-weight: 600;
}
@media (min-width: 425px) and (max-width: 425px) {
.content{
  width: -webkit-fill-available;width: -webkit-fill-available;
  overflow: hidden;
  margin: 0px auto 10px;
  z-index: 0;
  background-size: 100% 100%;
   /*max-width: 373px !important;*/
  }
}
@media (min-width: 375px) and (max-width: 375px) {
.content{
   width: -webkit-fill-available;
  overflow: hidden;
  margin: 0px auto 10px;
  z-index: 0;
  background-size: 100% 100%;
  }
}
@media (min-width: 320px) and (max-width: 320px) {
.content{
  width: -webkit-fill-available;
  overflow: hidden;
  margin: 0px auto 10px;
  z-index: 0;
  background-size: 100% 100%;
  }
  .main1{
    margin: 0 15px!important;
  }
}

.b2{
  margin-top: -115px;
  margin-left: 308px;
}
@media(min-width: 425px) and (max-width: 425px) {

  .b2{
    margin-left: 281px !important;
  }
}
@media(min-width: 375px) and (max-width: 375px) {

  .b2{
    margin-left: 252px !important;
  }
}
@media (min-width: 320px) and (max-width: 320px) {

  .b2{
    margin-left: 199px !important;
  }
}

.logo{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #0c96cc;
  padding: 14px;
}
.contact-buttons {
    text-align: center;
   /* width: calc(100% + 40px);*/
    margin-top: -25px;
}
.contact-button {
    padding: 8px 9px;
    border-radius:4px;
   /* min-width: 90px;*/
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    background:linear-gradient(to right, #1f526a 0%, #2d596f 100%);
    color:#fff;
    border-right:4px solid #1f526a;
    border-bottom:4px solid #1f526a;
    margin-right: 5px;
    /*box-shadow: 3px 4px #063b89;*/
    /*margin-bottom: 10px;*/
}
.contact-button:hover{
  color:#fff;
   background:linear-gradient(to right, #2d596f 0%, #1f526a 100%);
    border-right:4px solid #1f526a;
    border-bottom:4px solid #1f526a;
}
/*.contact-bg{
  background-color: #fff
}*/
.contact-bg{
  display: block;
  padding: 5px;
  width: auto;
  margin: 15px 5px;
  /*background: white;*/
  text-align: center;
  /*border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #00000029;*/
}
.c1{
  width: 100%;
}
@media(min-width: 425px) and (max-width: 425px) {
.c1{
    height:86% !important;
  }
.main1{
  /*margin-top: -131px!important;*/
  }
  .contact-button {
    /*margin-top: 100px;*/
  }
}
@media(min-width: 375px) and (max-width: 375px) {
.c1{
    height:86% !important;
  }
.main1{
  /*margin-top: -149px!important;*/
  }
  .contact-button {
    /*margin-top: 100px;*/
  }
}
@media(min-width: 320px) and (max-width: 320px) {
.c1{
    height:86% !important;
  }
.main1{
  /*margin-top: -196px!important;*/
  }
  .contact-button {
    /*margin-top: 100px;*/
  }
}
.loc {
    padding:11px 15px;
    display: inline-block;
   /* font-size: 14px;*/
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(255, 251, 251, 0.1) inset;
    text-align: center;
    background:linear-gradient(to right, #245b5d 0%, #1aa1a5 100%);
    color:#fff;
    border-radius: 25px;
    border:2px solid #1f526a;
    margin-right: 5px;
    margin-bottom: 20px;
    /*box-shadow: 3px 4px #053988;*/
   /* margin-top: -419px;*/
   /* margin-left: -12px;*/
}
.loc:hover{
  background:#fff;
  color:#2d596f; 
  border:2px solid #2d596f;
}
.add{
  position: absolute;
  font-size: 12px;
  margin-top:8px;
  margin-left: -10px;
  color:#000;
}
.mail{
   padding: 11px 11px;
    display: inline-block;
   /* font-size: 14px;*/
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(255, 251, 251, 0.1) inset;
    text-align: center;
    background:linear-gradient(to right, #245b5d 0%, #1aa1a5 100%);
    color:#fff;
    border-radius: 25px;
    border:2px solid  #1f526a;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 15px;
   /* margin-left: 30px;*/
}
.mail:hover{
  background:#fff;
  color:#2d596f; 
  border:2px solid #2d596f;
}
.mailtxt{
   font-size: 18px;
   margin-top:23px;
   margin-left:-10px;
   color:#000;
}
.web{
  padding: 13px 13px;
  display: inline-block;
 /* font-size: 14px;*/
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(255, 251, 251, 0.1) inset;
  text-align: center;
  background:linear-gradient(to right, #245b5d 0%, #1aa1a5 100%);
  color:#fff;
  border-radius: 25px;
  border:2px solid  #1f526a;
  margin-right: 5px;
  margin-bottom: 20px;
  box-shadow: 3px 4px #053988;
  /*margin-top: -322px;*/
  /*margin-left: 30px;*/
}
.web:hover{
  background:#fff;
  color:#2d596f; 
  border:2px solid #2d596f;
}
.webtxt{
  font-size: 12px;
  margin-top:8px;
  margin-left: -10px;
  color:#000;
}
.mobile{
  padding: 11px 13px;
  display: inline-block;
  /* font-size: 16px;*/
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(255, 251, 251, 0.1) inset;
  text-align: center;
 background:linear-gradient(to right, #245b5d 0%, #1aa1a5 100%);
  color:#fff;
  border-radius: 25px;
  border:2px solid  #1f526a;
  margin-right: 5px;
  margin-bottom: 20px;
  /*margin-top: -273px;*/
 /* margin-left: 30px;*/
}
.mobile:hover{
  background:#fff;
  color:#2d596f; 
  border:2px solid #2d596f; 
}
.mobiletxt{
  font-size: 20px;
  margin-top:6px;
  margin-left: -10px;
  color:#000;
}
@media(min-width: 425px) and (max-width: 425px) {
  .loc {
      padding: 8px 13px;
      display: inline-block;
     /* font-size: 14px;*/
      margin-right: 5px;
      margin-bottom: 20px;
     /* margin-top: -419px;*/
    margin-left: -12px;
  }
  .add{
    position: absolute;
    font-size: 12px;
    margin-top: -45px;
    margin-left: 30px;
  }
  .mail{
     padding: 8px 10px;
      display: inline-block;
     /* font-size: 14px;*/
    text-align: center;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: -12px;

  }
  .mailtxt{
     font-size: 12px;
     margin-top: -45px;
     margin-left: 30px;
     color:#000;
  }
  .web{
    padding: 8px 11px;
    display: inline-block;
   /* font-size: 14px;*/
    text-align: center;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: -12px;
  }
  .webtxt{
    font-size: 12px;
    margin-top: -45px;
    margin-left: 30px;
    color:#000;
  }
  .mobile{
    padding: 8px 12px;
    display: inline-block;
    /* font-size: 16px;*/
    text-align: center;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: -12px;
  }
  .mobiletxt{
    font-size: 12px;
    margin-top: -45px;
    margin-left: 30px;
    color:#000;
  }
  .card {
    width: -webkit-fill-available;
    overflow: hidden;
    margin: 0px auto 10px;
    z-index: 0;
    background-size: 100% 100%;
  }
}
@media(min-width: 375px) and (max-width: 375px) {
  .loc {
    padding: 8px 13px;
    display: inline-block;
   /* font-size: 14px;*/
    text-align: center;
    margin-right: 5px;
    margin-bottom: 20px;
   /* margin-top: -419px;*/
    margin-left: -12px;
  }
  .add{
    position: absolute;
    font-size: 12px;
    margin-top: -45px;
    margin-left: 30px;
    color:#000;
  }
  .mail{
     padding: 8px 10px;
      display: inline-block;
     /* font-size: 14px;*/
    text-align: center;
      margin-right: 5px;
      margin-bottom: 20px;
      margin-top: 15px;
      margin-left: -12px;
  }
  .mailtxt{
     font-size: 12px;
     margin-top: -45px;
     margin-left: 30px;
     color:#000;
  }
  .web{
    padding: 8px 11px;
    display: inline-block;
   /* font-size: 14px;*/
    text-align: center;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: -12px;
  }
  .webtxt{
    font-size: 12px;
    margin-top: -45px;
    margin-left: 30px;
    color:#000;
  }
  .mobile{
    padding: 8px 12px;
    display: inline-block;
    /* font-size: 16px;*/
    text-align: center;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: -12px;
  }
  .mobiletxt{
    font-size: 12px;
    margin-top: -45px;
    margin-left: 30px;
    color:#000;
  }
  .card {
    width: -webkit-fill-available;
    overflow: hidden;
    margin: 0px auto 10px;
    z-index: 0;
    background-size: 100% 100%;
  }
}
@media(min-width: 360px) and (max-width: 640px) {
  .loc {
    padding: 8px 13px;
    display: inline-block;
   /* font-size: 14px;*/
    text-align: center;
    margin-right: 5px;
    margin-bottom: 20px;
   /* margin-top: -419px;*/
    margin-left: -12px;
  }
  .add{
    position: absolute;
    font-size: 12px;
    margin-top: -45px;
    margin-left: 30px;
    color:#000;
  }
  .mail{
    padding: 8px 10px;
    display: inline-block;
     /* font-size: 14px;*/
    text-align: center;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: -12px;
  }
  .mailtxt{
     font-size: 12px;
     margin-top: -45px;
     margin-left: 30px;
     color:#000;
  }
  .web{
    padding: 8px 11px;
    display: inline-block;
   /* font-size: 14px;*/
    text-align: center;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: -12px;
  }
  .webtxt{
    font-size: 12px;
    margin-top: -45px;
    margin-left: 30px;
    color:#000;
  }
  .mobile{
    padding: 8px 12px;
    display: inline-block;
    /* font-size: 16px;*/
    text-align: center;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: -12px;
  }
  .mobiletxt{
    font-size: 12px;
    margin-top: -45px;
    margin-left: 30px;
    color:#000;
  }
  .card {
    width: -webkit-fill-available;
    overflow: hidden;
    margin: 0px auto 10px;
    z-index: 0;
    background-size: 100% 100%;
  }
}
@media (min-width: 320px) and (max-width: 320px) {
  .loc {
    padding: 8px 13px;
    display: inline-block;
   /* font-size: 14px;*/
    margin-right: 5px;
    margin-bottom: 20px;
   /* margin-top: -419px;*/
    margin-left: -12px;
    text-align: center;
  }
  .add{
    position: absolute;
    font-size: 12px;
    margin-top: -45px;
    margin-left: 30px;
    color:#000;
  }
  .mail{
     padding: 8px 10px;
      display: inline-block;
     /* font-size: 14px;*/
      text-align: center;
      margin-right: 5px;
      margin-bottom: 20px;
      margin-top: 15px;
      margin-left: -12px;
  }
  .mailtxt{
     font-size: 12px;
     margin-top: -45px;
     margin-left: 30px;
     color:#000;
  }
  .web{
    padding: 8px 11px;
    display: inline-block;
   /* font-size: 14px;*/
    text-align: center;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: -12px;
  }
  .webtxt{
    font-size: 12px;
    margin-top: -45px;
    margin-left: 30px;
    color:#000;
  }
  .mobile{
    padding: 8px 12px;
    display: inline-block;
    /* font-size: 16px;*/
    text-align: center;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: -12px;
  }
  .mobiletxt{
    font-size: 12px;
    margin-top: -45px;
    margin-left: 30px;
    color:#000;
  }
  .card {
    width: -webkit-fill-available;
    overflow: hidden;
    margin: 0px auto 10px;
    z-index: 0;
    background-size: 100% 100%;
  }
}
@media(min-width: 280px) and (max-width: 653px) {
  .contact-button {
    padding: 8px 8px;
    font-size: 12px;
  }
  .loc {
    padding: 8px 13px;
    display: inline-block;
   /* font-size: 14px;*/
    text-align: center;
    margin-right: 5px;
    margin-bottom: 20px;
   /* margin-top: -419px;*/
    margin-left: -12px;
  }
  .add{
    position: absolute;
    font-size: 12px;
    margin-top: -45px;
    margin-left: 40px;
    color:#000;
  }
  .mail{
    padding: 8px 8px;
    display: inline-block;
    /* font-size: 14px; */
    text-align: center;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 35px;
    margin-left: -12px;
  }
  .mailtxt{
    font-size: 18px;
    margin-top: -45px;
    margin-left: 32px;
    color: #000;
  }
  .web{
    padding: 8px 11px;
    display: inline-block;
   /* font-size: 14px;*/
    text-align: center;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: -12px;
  }
  .webtxt{
    font-size: 12px;
    margin-top: -45px;
    margin-left: 40px;
    color:#000;
  }
  .mobile{
    padding: 8px 9px;
    display: inline-block;
    /* font-size: 16px;*/
    text-align: center;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: -12px;
  }
  .mobiletxt{
    font-size: 18px;
    margin-top: -50px;
    margin-left: 32px;
    color:#000;
  }
  .card {
    width: -webkit-fill-available;
    overflow: hidden;
    margin: 0px auto 10px;
    z-index: 0;
    background-size: 100% 100%;
  }
}
@media(min-width: 600px) and (max-width: 960px) {
  .contact-button {
    padding: 9px 13px;
    font-size: 14px;
  }
  .loc {
    padding: 8px 13px;
    display: inline-block;
   /* font-size: 14px;*/
    text-align: center;
    margin-right: 5px;
    margin-bottom: 20px;
   /* margin-top: -419px;*/
    margin-left: -12px;
  }
  .add{
    position: absolute;
    font-size: 12px;
    margin-top: 7px;
    margin-left: -20px;
    color:#000;
  }
  .mail{
     padding: 8px 8px;
      display: inline-block;
     /* font-size: 14px;*/
      text-align: center;
      margin-right: 5px;
      margin-bottom: 20px;
      margin-top: 15px;
  }
  .mailtxt{
     font-size: 19px;
    margin-top: 19px;
    margin-left: -30px;
     color:#000;
  }
  .web{
    padding: 8px 11px;
    display: inline-block;
   /* font-size: 14px;*/
    text-align: center;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: -12px;
  }
  .webtxt{
    font-size: 12px;
    margin-top: 27px;
    margin-left: -20px;
    color:#000;
  }
  .mobile{
    padding: 8px 9px;
    display: inline-block;
    /* font-size: 16px;*/
    text-align: center;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 15px;
  }
  .mobiletxt{
    font-size: 19px;
    margin-top: 19px;
    margin-left: -30px;
    color:#000;
  }
  .card {
    width: -webkit-fill-available;
    overflow: hidden;
    margin: 0px auto 10px;
    z-index: 0;
    background-size: 100% 100%;
  }
}
.whatsapp-input {
  margin-top: 15px;
    text-align: left;
    display: flex;
}
.input-wrapper {
    position: relative;
    flex: 1;
}
.whatsapp-input input {
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    padding: 10px;
    outline: none;
    font-size: 12px;
    width: 100%;
    color: rgba(0, 0, 0, 0.6);
    padding-left: 40px;
    margin-left: 10px;
}
.whatsapp-button {
  margin-left: -30px;
  color: #fff;
  line-height: 38px;
  background: #51B14D;
  font-size: 12px;
  padding: 18px 20px 18px 15px;
  cursor: pointer;
    /*-webkit-appearance: none;
    padding: 10px;
    font-size: 13px;
    background-color: #51B14D;
    opacity: 0.9;
    color: #fff;
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(255, 251, 251, 0.1) inset;
    margin-left: -9px;
    display: flex;
    align-items: center;
    margin-right: 10px;*/
}
@media(min-width: 425px) and (max-width: 425px) {
.whatsapp-input input{
  margin-top: 74px !important;
  margin-left: 15px;
  width: 91%;
  }
.whatsapp-button{
  margin-top: 10px !important;
  margin-left: 15px;
  width: 91%;
  }
  .contact-button {
    padding: 9px 13px;
    font-size: 14px;
  }
  .mail{
     padding: 8px 8px;
      display: inline-block;
     /* font-size: 14px;*/
      text-align: center;
      margin-right: 5px;
      margin-bottom: 20px;
      margin-top: 15px;
    margin-left: 0px;
  }
  .mailtxt{
     font-size: 19px;
    margin-top: -50px;
    margin-left: 50px;
     color:#000;
  }
  .mobile{
    padding: 8px 10px;
    display: inline-block;
    /* font-size: 16px;*/
    text-align: center;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 0px;
  }
  .mobiletxt{
    font-size: 19px;
    margin-top: -50px;
    margin-left: 50px;
    color:#000;
  }
}
@media(min-width: 375px) and (max-width: 375px) {
.whatsapp-input input{
  margin-top: 95px !important;
  margin-left: 15px;
  width: 91%;
  }
.whatsapp-button{
  margin-top: 10px !important;
  margin-left: 15px;
  width: 91%;
  }
  .contact-button {
    padding: 9px 13px;
    font-size: 13px;
  }
  .mail{
     padding: 8px 8px;
      display: inline-block;
     /* font-size: 14px;*/
      text-align: center;
      margin-right: 5px;
      margin-bottom: 20px;
      margin-top: 15px;
    margin-left: 0px;
  }
  .mailtxt{
     font-size: 19px;
    margin-top: -50px;
    margin-left: 50px;
     color:#000;
  }
  .mobile{
    padding: 8px 10px;
    display: inline-block;
    /* font-size: 16px;*/
    text-align: center;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 0px;
  }
  .mobiletxt{
    font-size: 19px;
    margin-top: -50px;
    margin-left: 50px;
    color:#000;
  }
}
@media(min-width: 320px) and (max-width: 320px) {
.whatsapp-input input{
  margin-top: 147px !important;
  margin-left: -1px;
  width: 100%;
  }
.whatsapp-button{
  margin-top: 10px !important;
  margin-left: -1px;
  width: 100%;
  }
  .contact-button {
    padding: 9px 13px;
    font-size: 13px;
  }
  .mail{
     padding: 8px 8px;
      display: inline-block;
     /* font-size: 14px;*/
      text-align: center;
      margin-right: 5px;
      margin-bottom: 20px;
      margin-top: 15px;
      margin-left: 0px;
  }
  .mailtxt{
     font-size: 18px;
    margin-top: -50px;
    margin-left: 45px;
     color:#000;
  }
  .mobile{
    padding: 8px 10px;
    display: inline-block;
    /* font-size: 16px;*/
    text-align: center;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 0px;
  }
  .mobiletxt{
    font-size: 18px;
    margin-top: -50px;
    margin-left: 45px;
    color:#000;
  }
}
.shadow-button {
  width: 90%;
    border-radius: 20px;
    padding: 10px 10px;
    font-size: 13px;
    color: #fff;
    margin: 5px;
    background: linear-gradient(to right, #1f526a 0%, #2d596f 100%);
    flex: 1;
    display: inline-block;
    margin-left: 9px;
    margin-right: 5px;
    font-weight: 600;
}
.shadow-buttons :hover {
  width: 90%;
  font-weight: 600;
  color:#fff;
  background:linear-gradient(to right, #2d596f 0%, #1f526a 100%);
  transform: scale(1.1);
}
@media(min-width: 425px) and (max-width: 425px) {
.shadow-buttons{
   margin-top: 10px;
    margin-left: 1px;
    margin-right: 1px;
  }
}
@media(min-width: 375px) and (max-width: 375px) {
.shadow-buttons{
   margin-top: 10px;
    margin-left: 0px;
    margin-right: -2px;
  }
}
@media(min-width: 320px) and (max-width: 320px) {
.shadow-buttons{
  margin-top: 10px;
    margin-left: -16px;
    margin-right: -14px;
  }
}
.share1-buttons.inprofile {
    padding: 10px;
    justify-content: center;
    /*margin: -4px;*/
    margin: 7px;
    /*margin-top: 20px;*/
}
.share1-buttons {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
   
}
.share1-buttons.inprofile .share1-button {
    padding: 4px;
}
.share1-buttons .share1-button {
   
    list-style: none;
}
.share1-buttons.inprofile .share1-button i {
    padding: 0;
    height: 27px;
    width: 27px;
    font-size: 15px;
    border-radius: 50%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(255, 251, 251, 0.1) inset;
}
.share1-buttons .share1-button i {
    background-image: none;
    box-sizing: border-box;
    position: relative;
    margin: 0;
    overflow: hidden;
    line-height: 1.1em;
    color: #fff;
    display: block;
    cursor: pointer;
    font-size: 24px;
    height: 40px;
    width: 40px;
    text-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fab, .far {
    font-weight: 400;
}
.share1-button-facebook {
    background-color: #2a4a8c;
}
.share1-button-twitter {
    background-color: #46b8ea;
}
.share1-button-instagram {
    background-color: #fb7522;
}
.share1-button-youtube {
    background-color: #E63631;
}
.share1-button-pinterest {
    background-color: #cb2027;
}
.share1-button-linkedin {
    background-color: #09aaf7;
}
.section-header {
    color: var(--theme-color);
    text-transform: uppercase;
    margin-top: -70px;
    margin-left: 15px;
    color: #0c96cc;
}
.About {
  max-width: 400px;
  margin: auto;
  background: white;
 /* padding: 10px;*/
  margin-top: 20px;
}
@media (min-width: 425px) and (max-width: 425px) {
.About{
   max-width: 373px !important;
   margin-top: 50px;
  }
}
@media (min-width: 375px) and (max-width: 375px) {
.About{
   width: 343px !important;
   margin-top: 50px;
  }
}
@media (min-width: 320px) and (max-width: 320px) {
.About{
   width: 290px !important;
   margin-top: 40px;
  }
}
.about-us-table {
    font-size: 14px;
    margin-top: 15px;
    border-collapse: separate;
    border-spacing: 0 5px;
    margin-left: 30px;
}
.about-us-table .table-row-label {
    text-align: left;
    min-width: 150px;
    vertical-align: top;
    position: relative;
}
.about-us-table .table-row-label .table-row-label-text {
    display: inline-block;
    margin: 0;
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color:#4d9820; 
}
.about-us-table .table-row-label .table-row-label-separator {
    position: absolute;
    right: 0;
}
.about-us-table tr {
    text-align: -webkit-left;
    vertical-align: top;
}
.aboutp{
  margin-left: 16px;
  margin-top: 10px;
}
@media (min-width: 320px) and (max-width: 320px) {

  .about-us-table .table-row-label{
    min-width: 106px !important;
  }
  .about-us-table .table-row-label .table-row-label-text{
    font-size: 14px!important;
  }
}
.b3{
  margin-top: -114px;
  position: absolute;
  /*margin-left: -10px;*/
}
.b4{
  margin-top: -115px;
  margin-left: 308px;
}
@media(min-width: 425px) and (max-width: 425px) {

  .b4{
    margin-left: 281px !important;
  }
}
@media(min-width: 375px) and (max-width: 375px) {

  .b4{
    margin-left: 252px !important;
  }
}
@media (min-width: 320px) and (max-width: 320px) {

  .b4{
    margin-left: 199px !important;
  }
}
.Services {
  max-width: 400px;
  margin: auto;
  background: white;
 /* padding: 10px;*/
  margin-top: 20px;
}
@media (min-width: 425px) and (max-width: 425px) {
.Services{
   max-width: 373px !important;
   margin-top: 25px;
  }
}
@media (min-width: 375px) and (max-width: 375px) {
.Services{
   width: 343px !important;
   margin-top: 25px;
  }
}
@media (min-width: 320px) and (max-width: 320px) {
.Services{
   width: 290px !important;
   margin-top: 25px;
  }
}
.card {
    text-align: left;
    background-color: #0c96cc29;
    padding: 20px;
    max-width: 93%;
    margin: 0 auto;
    margin-bottom: 20px;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(255, 251, 251, 0.1) inset; 
}
.card .card-title {
    font-size: 19px;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    font-family: 'Mukta', sans-serif;
    color: #4d9820;
    font-weight: bold;
}
.product-description {
    text-align: justify;
    max-width: 100%;
    font-size: 14px;
}
.Portfolio {
  max-width: 400px;
  margin: auto;
  background: white;
 /* padding: 10px;*/
  margin-top: 20px;
}
@media (min-width: 425px) and (max-width: 425px) {
.Portfolio{
   max-width: 373px !important;
   margin-top: 25px;
  }
}
@media (min-width: 375px) and (max-width: 375px) {
.Portfolio{
   width: 343px !important;
   margin-top: 25px;
  }
}
@media (min-width: 320px) and (max-width: 320px) {
.Portfolio{
   width: 290px !important;
   margin-top: 25px;
  }
}
.webcard .webcard-title1 {
    font-size: 19px;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    font-family: 'Mukta', sans-serif;
    color: #4d9820;
    font-weight: bold;
    text-transform: uppercase;
}
.webcard {
    text-align: left;
    /*background-color: #0c96cc29;*/
    padding: 20px;
    max-width: 93%;
    margin: 0 auto;
    margin-bottom: 20px;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(255, 251, 251, 0.1) inset; 
}
.webimg {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
   position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
   background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7); /* Black see-through */
  color: #f1f1f1; 
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.container1:hover .overlay {
  opacity: 1;
   height: 30%;
}
.container1{
  position: relative;
  width: 100%;
 /* max-width: 300px;*/
}
.webtext{
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.mobcard {
    text-align: left;
    background-color: #0c96cc29;
    padding: 10px;
    max-width:100%;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(255, 251, 251, 0.1) inset; 
    border: 1px solid #5ac4eedb;
}
.logcard {
    text-align: left;
    /*background-color: #0c96cc29;*/
    padding: 10px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(255, 251, 251, 0.1) inset; 
     border: 1px solid #5ac4eedb;
}
.Contact {
  max-width: 350px;
  margin: auto;
  background: white;
 /* padding: 10px;*/
  margin-top: 20px;
}
@media (min-width: 425px) and (max-width: 425px) {
.Contact{
   max-width: 373px !important;
   margin-top: 25px;
  }
}
@media (min-width: 375px) and (max-width: 375px) {
.Contact{
   width: 343px !important;
   margin-top: 25px;
  }
}
@media (min-width: 320px) and (max-width: 320px) {
.Contact{
   width: 290px !important;
   margin-top: 25px;
  }
}

.flex {
    display: flex;
}
.enquiry-form input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
    outline: none;
    font-size: 14px;
    font-family: 'Mukta', sans-serif;
    
}
.btnsub {
  background-color: #0c96cc; /* Green */
  border: none;
  color: white;
  padding: 8px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
.copy {
  max-width: 400px;
  margin: auto;
  background: white;
 /* padding: 10px;*/
  margin-top: 20px;
}
@media (min-width: 425px) and (max-width: 425px) {
.copy{
   max-width: 373px !important;
   margin-top: 20px;
  }
}
@media (min-width: 375px) and (max-width: 375px) {
.copy{
   width: 343px !important;
   margin-top: 20px;
  }
}
@media (min-width: 320px) and (max-width: 320px) {
.copy{
   width: 290px !important;
   margin-top: 20px;
  }
}
.copyright{
  text-align: center;
  font-size: 15px;
  padding: 7px;
  color: gray;
}
.button1 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 50%;
  margin-left: 50%;

}
a:hover{
  text-decoration: none;
  color:#0c96cc;
}

.share1{
    display:none;
    background: white;
    color: black;
    position: fixed;
    top: 30%;
    width: 320px;
    padding: 10px 10px;
    box-shadow: 0px 0px 10px 0px #00000033;
    z-index: 3;
    border-radius: 11px;
}
.share1 .close {
    font-size: 30px;
    text-align: end;
    padding: 0px 10px;
    font-weight: 400;
    color: red;
}
.share1-btns {
    width: 50px;
    text-align: center;
    display: inline-block;
    margin-left: 10%;
}
.share1-btns i {
    padding: 10px;
    border-radius: 8px;
}
#whatsapp2 {
    width: 40px;
    height: 40px;
    background: #1aab2c;
    color: white;
    padding: 7px;
    border-radius: 8px;
    font-size: 25px;
}
#comment{
    width: 40px;
    height: 40px;
    background:#027DF3;
    color: white;
    padding: 7px;
    border-radius: 8px;
    font-size: 25px;
}
#envelope{
    width: 40px;
    height: 40px;
    background: #301aab;
    color: white;
    padding: 7px;
    border-radius: 8px;
    font-size: 25px;
}
#scan{
   margin-left: 35%;
    width: 90px;
    height: 90px;
    margin-top: 10px;
}
.share1-btns p {
    font-size: 12px;
    color: #000;
}

@media (min-width: 320px) and (max-width: 320px) {
  .share1-btns {
    margin-left: 4%;
  }
  .share1box {
    width: 260px;
  }

}

